# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node.js / Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project Specific
dummy_credentials.csv
mongo_data/
