services:
    mongodb:
        image: mongo:4.4.18
        container_name: cm_mongodb
        restart: unless-stopped
        volumes:
            - mongo_data:/data/db
        networks:
            - proxy

    backend:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: cm_backend
        restart: unless-stopped
        expose:
            - '5000'
        environment:
            - MONGODB_URI=mongodb://cm_mongodb:27017/
            - DB_NAME=CredentialManager
        depends_on:
            - mongodb
        networks:
            - proxy

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
        container_name: cm_frontend
        restart: unless-stopped
        expose:
            - '80'
        depends_on:
            - backend
        networks:
            - proxy

    reverse-proxy:
        image: nginx:alpine
        container_name: cm_proxy
        restart: unless-stopped
        ports:
            - '80:80'
        volumes:
            - ./proxy-nginx:/etc/nginx/conf.d:ro
        depends_on:
            - frontend
            - backend
        networks:
            - proxy

volumes:
    mongo_data:

networks:
    proxy:
        external: true
