.dashboard {
  position: absolute;
  top: 30vh;
  left: 0; 
  right: 0;
  margin: 0 auto; /* Centering without transform */
  width: 95%;
  max-width: 1100px;
  height: 65vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: left;
  background: #242424;
}
