.input-group {
  display: flex;
  align-items: center;
  background: #333;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #444;
  transition: border-color 0.2s;
}

.input-group:focus-within {
  border-color: #8b5cf6;
}

.input-group input {
  background: transparent;
  border: none;
  color: white;
  padding: 0.5rem;
  width: 100%;
  outline: none;
}

.input-group svg {
  display: block;
}
